body {
    overflow-x: hidden;
    background-color: #C5C6C7;
    color: white;
    font-family: monospace;
    padding: 0px;
    margin: 0px;
}

* {
    color: #C5C6C7;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}



#loading {


    background-color: #1F2833;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;

}

#loading h2 {
    margin: 45vh auto auto auto;
}




nav {
    display: flex;
    justify-content: space-between;
    background-color: #1F2833;
    width: 100%;
    height: 50px;
    padding: 0px;
    position: fixed;
    top: 0px;
    /* transform: translateY(-100px); */
    box-shadow: 1px 0px 10px black;

}

nav:hover {}



#logo {
    margin: auto 20px auto 20px;
    display: block;
    color: white;



}

#menu-btn {
    margin: auto 20px auto auto;
    height: 35px;
    width: 31.5px;
    display: none;
}

#btn-bar {

    border-radius: 2px;
    margin: 5px auto 5px auto;
    height: 4px;
    width: 100%;
    background-color: #66fcf1;
    transition: transform 0.25s;

}


#nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3vw;
    width: 100%;
    /* display: none; */
}


#nav-list a {
    text-decoration: none;
    color: white;
}

#nav-img svg {
    display: block;
    margin: auto 0 auto 2vw;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px;

}

#nav-img:hover svg {
    transform: scale(1.05);
    fill: #9ffff9;

}


#nav-item {
    border: solid 2px #66fcf1;
    margin-left: 2%;
    font-size: 1.3em;
    padding: 5px;
    cursor: pointer;
    letter-spacing: 2.5px;
    /* font-weight: bolder; */
    transition: 0.1s;






}

#nav-item:hover {
    transform: scale(1.02);
    box-shadow: 0.1px 0.1px 5px#66fcf1;
}

.nav-reg {
    display: none;
}

.bar1 {
    transform-origin: right;
}

.bar3 {
    transform-origin: right;
}

#intro {
    background-color: blue;
    background-image: url(./img/University/dcrust-7.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 60vw;
}

svg {
    fill: #66fcf1;
}


#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;


    background-color: #1F2833;
}

.about-left {

    font-size: 1.6em;
    padding: 20px;
    text-align: center;
    width: 60%;
    border: solid 2px black;
}

.about-right {
    margin: auto 10px auto 10px;
    padding: 40px;
    border: solid 2px black;
}

#about-img {
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px black;
    transition: 0.5s;
}

#about-img:hover {
    transform: scale(1.3);
}




footer {
    margin-top: 300px;
    height: 100vh;
    background-image: url(./img/University/dcrust-7.jpg);

}


.logo {
    margin-top: 5px;
    height: 30px;
    min-width: 300px;
}

@keyframes wave {
    0% {
        x: -400px;
    }

    100% {
        x: 0;
    }
}

@keyframes fill-up {
    0% {
        height: 50px;
        y: 130px;
    }

    40% {
        height: 160px;
        y: -30px;
    }

    80% {
        height: 160px;
        y: -30px;
    }

    100% {
        height: 50px;
        y: 130px;
    }
}

.water-fill {
    animation: wave 0.7s infinite linear,
        fill-up 15s infinite ease-out
}

/* For mobile  */


@media screen and (max-width : 728px) {

    * {
        overflow-x: hidden;
    }

    #nav-list {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: #1F2833;
        justify-content: flex-start;
        width: 50%;
        padding: 0px;
        position: fixed;
        left: 100%;
        top: 50px;
        transition: 0.3s;
        margin-top: 0px;


    }

    #nav-item {
        text-align: center;
        align-content: flex-start;
        width: 85%;
        margin: 4vh auto 0vh auto;
    }

    #nav-img {
        display: none;
    }

    #menu-btn {
        display: block;
    }



    .about-left {

        font-size: 1.1em;
        padding: 20px;
        text-align: center;
        width: 90%;
        border: solid 2px black;
    }

    .about-right {
        margin: auto 10px auto 10px;
        padding: 10px;
        border: solid 2px black;
    }

    #about-img {
        height: 250px;
        border-radius: 10px;
        box-shadow: 3px 3px 20px black;
        transition: 0.5s;
    }




}