body {
    overflow: hidden;
    background-color: #0B0c10;
    color: white;
    font-family: monospace;
    padding: 0px;
    margin: 0px;
}



nav {
    display: flex;
    justify-content: space-between;
    background-color: #1F2833;
    width: 100%;
    height: 50px;
    padding: 0px;
}

#logo {
    display: block;
    color: white;



}

#menu-btn {
    margin: auto 20px auto auto;
    height: 35px;
    width: 31.5px;
    display: none;
}

#btn-bar {

    border-radius: 2px;
    margin: 5px auto 5px auto;
    height: 4px;
    width: 100%;
    background-color: #66fcf1;
    transition: transform 0.25s;

}


#nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* display: none; */
}


#nav-list a {
    text-decoration: none;
    color: white;
}

#nav-img img {
    display: block;
    margin: auto 4vw auto 5vw;
    height: 25px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;

}

#nav-img:hover img {
    transform: scale(1.05);
    box-shadow: 0.1px 0.1px 5px#66fcf1;


}


#nav-item {
    border: solid 2px #66fcf1;
    margin-left: 5vw;
    font-size: 1.3em;
    padding: 5px;
    cursor: pointer;
    letter-spacing: 2.5px;
    /* font-weight: bolder; */
    transition: 0.2s;






}

#nav-item:hover {
    transform: scale(1.05);
    box-shadow: 0.1px 0.1px 5px#66fcf1;
}

.nav-reg {
    display: none;
}





.bar1 {
    transform-origin: right;
}


.bar3 {
    transform-origin: right;
}

footer {
    margin-top: 300px;

}



/* For mobile  */


@media screen and (max-width : 646px) {

    #nav-list {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: #1F2833;
        justify-content: flex-start;
        width: 50%;
        padding: 0px;
        position: fixed;
        left: 100%;
        top: 50px;
        transition: 0.3s;
        margin-top: 0px;


    }

    #nav-item {
        text-align: center;
        align-content: flex-start;
        width: 85%;
        margin: 4vh auto 0vh auto;
    }

    #nav-img {
        display: none;
    }

    #menu-btn {
        display: block;
    }






}