body {
    overflow-x: hidden;
    background-color: #C5C6C7;
    font-family: monospace;
    padding: 0px;
    margin: 0px;
}

html {
    /* scroll-behavior: smooth; */
}

* {
    color: #C5C6C7;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    /* scroll-behavior: smooth; */
}

#Layer_1 {
    height: 32vw;
    width: 50%;
    transform: translateX(23vw) translateY(1.9vw);

}


#loading {


    background-color: #1F2833;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    text-align: center;
    /* display: none; */

}

#loading-logo {
    font-size: 3em;
    margin-top: calc(50vh - 2em);
    animation: loadinglogo 0.5s linear infinite alternate;
}



@keyframes loadinglogo {
    from {
        transform: scale(0.5);


    }

    to {
        transform: scale(0.6)
    }
}






nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2833;
    width: 100%;
    height: 50px;
    padding: 0px;
    position: fixed;
    top: 0px;
    z-index: 5;
    /* transform: translateY(-100px); */
    box-shadow: 0px 0px 10px black;

}

nav:hover {}



#logo {
    margin: auto 20px auto 20px;
    display: block;
    color: white;



}

#menu-btn {
    margin: auto 20px auto auto;
    height: 35px;
    width: 31.5px;
    display: none;
}



#btn-bar {

    border-radius: 2px;
    margin: 5px auto 5px auto;
    height: 4px;
    width: 100%;
    background-color: #66fcf1;
    transition: transform 0.25s;

}


#nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3vw;
    width: 100%;
    /* display: none; */
}

#nav-item-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


#nav-list li {
    /* text-decoration: none; */
    color: white;
}

#nav-img-list {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}



#nav-img-reg svg {
    display: block;
    margin: auto 0 auto 2vw;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px;
    transform: scale(1.05)
}

#nav-img-reg:hover svg {
    transform: scale(1.15);
    fill: #9ffff9;

}

#nav-img-in svg {
    display: block;
    margin: auto 0 auto 2vw;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px;
    transform: scale(1.05)
}

#nav-img-in:hover svg {
    transform: scale(1.15);
    fill: #9ffff9;

}

#nav-img-profile svg {
    display: block;
    margin: auto 0 auto 2vw;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px;
    transform: scale(1.15)
}

#nav-img-profile:hover svg {
    transform: scale(1.25);
    fill: #9ffff9;

}







#nav-item {
    /* border: solid 2px #66fcf1; */
    margin-left: 2%;
    font-size: 1.3em;
    padding: 5px;
    cursor: pointer;
    letter-spacing: 2.5px;
    /* font-weight: bolder; */
    transition: 0.1s;






}

#nav-item:hover {
    transform: scale(1.02);
    /* box-shadow: 0.1px 0.1px 5px#66fcf1; */
    background-color: rgb(14, 19, 24);
}

.nav-reg {
    display: none;

}

.bar1 {
    transform-origin: right;
}

.bar3 {
    transform-origin: right;
}

#intro {
    background-color: #0B0C10;
    background-image: url(./img/University/dcrust-7.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 60vw;

}

#intro video {}

svg {
    fill: black
}

svg text {
    font-weight: 0;
}


.svg-one {
    margin: 0px;
    display: block;
}

.svg-two {
    background-color: #1F2833;
    display: block;
}

.svg-three {
    display: block;
}

#about {
    margin-top: -7vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #1F2833;
}

#about h1 {
    font-size: 4em;
    font-family: cursive;
    margin-bottom: 15px;

}

#about p {
    font-size: 1.3em;

}

.about-left {

    padding: 20px;
    text-align: center;
    width: 40%;
    /* margin: -100px 10%; */
    /* border: solid 2px black; */
}

.about-right {
    margin: auto 10px auto 10px;
    padding: 40px;
    /* border: solid 2px black;s */
}

#about-img {
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px black;
    transition: 0.5s;
}

#about-img:hover {
    transform: scale(1.3);
}







.logo {
    margin-top: 5px;
    height: 30px;
    min-width: 300px;
}

@keyframes wave {
    0% {
        x: -400px;
    }

    100% {
        x: 0;
    }
}

@keyframes fill-up {
    0% {
        height: 50px;
        y: 130px;
    }

    40% {
        height: 160px;
        y: -30px;
    }

    80% {
        height: 160px;
        y: -30px;
    }

    100% {
        height: 50px;
        y: 130px;
    }
}

.water-fill {
    animation: wave 0.7s infinite linear,
        fill-up 15s infinite ease-out
}

#gallery-head {
    color: #0B0C10;
    text-align: center;
    font-family: cursive;

}



#gallery {
    font-size: 2em;
    margin: -17vw auto 20px auto;
    color: #0B0C10;
    height: 100vh;
}







.footer {
    width: 33.3%;
    height: 100%;
    background-color: #C5C6C7;
}



.body-svg {
    position: relative;
    top: -53vw;
    /* overflow-y: hidden; */
}

/* For mobile  */


@media screen and (max-width : 728px) {

    * {
        overflow-X: hidden;
    }

    body {
        /* overflow-y: hidden; */
    }

    .body-svg {
        /* overflow-y: hidden; */
        /* background-attachment: fixed; */
    }

    #nav-list {
        display: flex;
        flex-direction: column;
        height: 60vh;
        background-color: #1F2833;
        justify-content: space-between;
        width: 50%;
        padding: 0px;
        position: fixed;
        left: 100%;
        top: 50px;
        transition: 0.3s;
        margin-top: 0px;


    }

    #nav-item-list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 85%;
    }

    #nav-img-list {
        margin-bottom: 10px;
        /* align-self: flex-start; */
        display: flex;
        width: 80%;
        margin-right: 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-img-list li {
        height: 50px;
        padding: 3px;
        width: 60px;
    }

    #nav-img-profile {
        padding-top: 3px;
    }

    #nav-item {
        text-align: center;
        align-content: flex-start;
        width: 85%;
        margin: 4vh auto 0vh auto;
    }


    #menu-btn {
        display: block;
    }



    .about-left {

        font-size: 1.1em;
        padding: 20px;
        text-align: center;
        width: 90%;
        /* border: solid 2px black; */
    }

    .about-right {
        margin: auto 10px auto 10px;
        padding: 10px;
        display: none;
        /* border: solid 2px black; */
    }

    #about-img {
        height: 250px;
        border-radius: 10px;
        box-shadow: 3px 3px 20px black;
        transition: 0.5s;
    }

    #intro {
        background-color: #C5C6C7;
        background-image: none;
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 110vw;

    }


    #Layer_1 {
        height: auto;
        width: 90%;
        transform: translateX(3vw) translateY(10vw);

    }
}




/* cloud animation  */

#Clouds {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 50%;
    overflow: hidden;
    -webkit-animation: FadeIn 3s ease-out;
    animation: FadeIn 3s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-webkit-keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Cloud {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100px;
    -webkit-animation-duration: 120s;
    animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: Float, FadeFloat;
    animation-name: Float, FadeFloat;
    z-index: 1;
}

.Cloud.Foreground {
    height: 10%;
    min-height: 20px;
    z-index: 3;
}

.Cloud.Background {
    height: 9.09090909%;
    min-height: 8px;
    -webkit-animation-duration: 210s;
    animation-duration: 210s;
}

@-webkit-keyframes Float {
    from {
        -webkit-transform: translateX(100%) translateZ(0);
        transform: translateX(100%) translateZ(0);
    }

    to {
        -webkit-transform: translateX(-15%) translateZ(0);
        transform: translateX(-15%) translateZ(0);
    }
}

@keyframes Float {
    from {
        -webkit-transform: translateX(100%) translateZ(0);
        transform: translateX(100%) translateZ(0);
    }

    to {
        -webkit-transform: translateX(-15%) translateZ(0);
        transform: translateX(-15%) translateZ(0);
    }
}

/*
  @keyframes Float {
    from { transform: translateX(100%) translateY(-100%) translateZ(0); }
    50% { transform: translateX(55%) translateY(0) translateZ(0); }
    to { transform: translateX(-5%) translateY(-100%) translateZ(0); }
  }
  */
@-webkit-keyframes FadeFloat {

    0%,
    100% {
        opacity: 0;
    }

    5%,
    90% {
        opacity: 1;
    }
}

@keyframes FadeFloat {

    0%,
    100% {
        opacity: 0;
    }

    5%,
    90% {
        opacity: 1;
    }
}



/* cloud animation */






@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);

body {
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f2efd9 100%);
}

@-webkit-keyframes rotate-right {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-left {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-360deg);
    }
}

@-webkit-keyframes hover {
    0% {
        -webkit-transform: translateY(0%);
    }

    50% {
        -webkit-transform: translateY(5%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes pull {
    0% {
        -webkit-transform: scaleY(1);
    }

    40% {
        -webkit-transform: scaleY(1.01);
    }

    60% {
        -webkit-transform: scaleY(0.99);
    }

    80% {
        -webkit-transform: scaleY(1.01);
    }

    100% {
        -webkit-transform: scaleY(0.99);
    }

    80% {
        -webkit-transform: scaleY(1.01);
    }

    100% {
        -webkit-transform: scaleY(1);
    }
}

#airplane2,
#airplane1 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 60s linear 0s infinite;
}

#countryObjects {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 240s linear 0s infinite;
}

#floatingGlobe {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-left 360s linear 0s infinite;
}

#globe {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: hover 0s linear 0s infinite;
}

#windmill {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 331px 201px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 2s linear 0s infinite;
}

#cloud1 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: hover 3s linear 1s infinite;
}

#cloud2 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: hover 3s linear 2s infinite;
}

#cloud3 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: hover 3s linear 3s infinite;
}

#circle1 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle2 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle3 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle4 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle5 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 12s linear 0s infinite;
}