body {
    overflow-x: hidden;
    background-color: #379683;
    font-family: monospace;
    padding: 0px;
    margin: 0px;
}

html {
    /* scroll-behavior: smooth; */
}

* {
    color: #05386B;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    /* scroll-behavior: smooth; */
}



#loading {


    background-color: #5CDB95;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    text-align: center;
    /* display: none; */

}

#loading-logo {
    font-size: 3em;
    margin-top: calc(50vh - 2em);
    animation: loadinglogo 0.5s linear infinite alternate;
}



@keyframes loadinglogo {
    from {
        transform: scale(0.5);


    }

    to {
        transform: scale(0.6)
    }
}






nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #5CDB95;
    width: 100%;
    height: 50px;
    padding: 0px;
    position: fixed;
    top: 0px;
    z-index: 10;
    transition: 0.3s ease-out;
    /* transform: translateY(-100px); */
    /* box-shadow: 0px 0px 10px black; */

}

nav:hover {}



#logo {
    margin: auto 20px auto 20px;
    display: block;
    color: white;



}

#menu-btn {
    margin: auto 20px auto auto;
    height: 35px;
    width: 31.5px;
    display: none;
}



#btn-bar {

    border-radius: 2px;
    margin: 5px auto 5px auto;
    height: 4px;
    width: 100%;
    background-color: #05386B;
    transition: transform 0.25s;

}


#nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3vw;
    width: 100%;
    /* display: none; */
}

#nav-item-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


#nav-list li {
    /* text-decoration: none; */
    color: #05386B;
}

#nav-img-list {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}



#nav-img-reg svg {
    display: block;
    margin: auto 0 auto 2vw;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px;
    transform: scale(1.05)
}

#nav-img-reg:hover svg {
    transform: scale(1.15);

}

#nav-img-in svg {
    display: block;
    margin: auto 0 auto 2vw;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px;
    transform: scale(1.05)
}

#nav-img-in:hover svg {
    transform: scale(1.15);

}

#nav-img-profile svg {
    display: block;
    margin: auto 0 auto 2vw;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px;
    transform: scale(1.15)
}

#nav-img-profile:hover svg {
    transform: scale(1.25);

}







#nav-item {
    /* border: solid 2px #05386B; */
    margin-left: 2%;
    font-size: 1.3em;
    padding: 5px;
    cursor: pointer;
    letter-spacing: 2.5px;
    /* font-weight: bolder; */
    transition: 0.1s;






}

#nav-item:hover {
    transform: scale(1.02);
    /* box-shadow: 0.1px 0.1px 5px#05386B; */
    background-color: rgb(255, 255, 255);
}

.nav-reg {
    display: none;

}

.bar1 {
    transform-origin: right;
}

.bar3 {
    transform-origin: right;
}

#intro {
    background-color: #0B0C10;
    /* background-image: url(./img/University/dcrust-7.jpg); */
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 60vw;
}

#intro video {
    margin-top: 40px;
    min-height: 100%;
    min-width: 100%;
    transform: translateY(-95px);
    position: absolute;
}

#video-overlay {
    position: absolute;
    min-width: 100%;
    min-height: calc(100% + 70px);
    background-color: #379683;
    opacity: 0.9;
}

#intro-item {
    position: absolute;
    width: 50%;
    min-height: 100%;
    margin-top: calc(50px + 5vw);
    margin-left: 25%;
    text-align: center;

}

#intro-item h1 {
    font-size: 4em;
    color: white;
    font-family: cursive;
}

#intro-item p {
    color: white
}

#reg-btn {
    color: blanchedalmond;
    margin: 40px auto 50px auto;
    border: solid 2px white;
    width: max-content;
    padding: 10px;
    cursor: pointer;
}

#reg-btn:hover {
    background-color: #5CDB95;
    color: #05386B;
}

#reg-btn:active {
    background-color: transparent;
    color: white;
}


nav svg {
    fill: #05386B;
}


#intro-item svg {
    fill: #05386B;
}

.svg-one {
    margin: 0px;
    display: block;
}

.svg-two {
    background-color: #5CDB95;
    display: block;
}

.svg-three {
    display: block;
}

#about {
    margin-top: -7vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #5CDB95;
}

#about h1 {
    font-size: 4em;
    font-family: cursive;
    margin-bottom: 15px;

}

#about p {
    font-size: 1.3em;

}

.about-left {

    padding: 20px;
    text-align: center;
    width: 40%;
    /* margin: -100px 10%; */
    /* border: solid 2px black; */
}

.about-right {
    margin: auto 10px auto 10px;
    padding: 40px;
    /* border: solid 2px black;s */
}

#about-img {
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px black;
    transition: 0.5s;
}

#about-img:hover {
    transform: scale(1.3);
}







.logo {
    margin-top: 5px;
    height: 30px;
    min-width: 300px;
}

@keyframes wave {
    0% {
        x: -400px;
    }

    100% {
        x: 0;
    }
}

@keyframes fill-up {
    0% {
        height: 50px;
        y: 130px;
    }

    40% {
        height: 160px;
        y: -30px;
    }

    80% {
        height: 160px;
        y: -30px;
    }

    100% {
        height: 50px;
        y: 130px;
    }
}

.water-fill {
    animation: wave 0.7s infinite linear,
        fill-up 15s infinite ease-out
}

#gallery-head {
    color: white;
    text-align: center;
    font-family: cursive;

}



#gallery {
    font-size: 2em;
    margin: -17vw auto 20px auto;
    color: #05386B;
    height: 100vh;
}







.footer {
    width: 33.3%;
    height: 100%;
    background-color: #05386B;
}



.body-svg {
    position: relative;
    top: -24.5vw;
    /* overflow-y: hidden; */
}

/* For mobile  */


@media screen and (max-width : 728px) {

    * {
        overflow-X: hidden;
    }

    body {
        /* overflow-y: hidden; */
    }

    .body-svg {
        /* overflow-y: hidden; */
        /* background-attachment: fixed; */
    }

    #nav-list {
        display: flex;
        flex-direction: column;
        height: 60vh;
        background-color: #5CDB95;
        justify-content: space-between;
        width: 50%;
        padding: 0px;
        position: fixed;
        left: 100%;
        top: 50px;
        transition: 0.3s;
        margin-top: 0px;


    }

    #nav-item-list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 85%;
    }

    #nav-img-list {
        margin-bottom: 10px;
        /* align-self: flex-start; */
        display: flex;
        width: 80%;
        margin-right: 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-img-list li {
        height: 50px;
        padding: 3px;
        width: 60px;
    }

    #nav-img-profile {
        padding-top: 3px;
    }

    #nav-item {
        text-align: center;
        align-content: flex-start;
        width: 85%;
        margin: 4vh auto 0vh auto;
    }


    #menu-btn {
        display: block;
    }



    .about-left {

        font-size: 1.1em;
        padding: 20px;
        text-align: center;
        width: 90%;
        /* border: solid 2px black; */
    }

    .about-right {
        margin: auto 10px auto 10px;
        padding: 10px;
        display: none;
        /* border: solid 2px black; */
    }

    #about-img {
        height: 250px;
        border-radius: 10px;
        box-shadow: 3px 3px 20px black;
        transition: 0.5s;
    }




}